<form action=" {% url 'pybo:answer_create' question.id %}" method="post" class="my-3">
  {% csrf_token%}
  {% if form.errors %}
    <div class="alert alert-danger" role="alert">
      {% for field in form %}
        {% if field.errors %}
          <strong>{{ field.label }}</strong>
          {{ field.errors }}
        {% endif %}
      {%endfor %}
    </div>
  {% endif %}
  <div class="form-group">
    <textarea {% if not user.is_authenticated %} disabled="disabled" {% endif %} name="content" id="content" class="form-control" rows="10"></textarea>
  </div>
  <input type="submit" value="답변등록" class="btn btn-primary">
</form>
