<!-- 질문 댓글 -->
{% if question.comment_set.count > 0 %}
  <div class="mt-3">
    {% for comment in question.comment_set.all %}
      <a name="comment_{{comment.id}}"></a>
      <div class="comment py-2 text-muted">
        <span style="white-space: pre-line;">{{ comment.content }}</span>
        <span>
          -
          <img class="avatar" src="https://randomuser.me/api/portraits/men/{{comment.author.id}}.jpg">
          {{ comment.author }}

          {% if comment.modify_date %}
            (수정:{{comment.modify_date|date:'Y-m-d H:i'}})
          {% else %}
            {{ comment.create_date|date:'Y-m-d H:i' }}
          {% endif %}
        </span>
        {% if request.user == comment.author %}
          <a href="{% url 'pybo:comment_modify_question' comment.id %}" class="small">
            <i class="fa-solid fa-pen"></i>
            수정</a>,
          <a href="{% url 'pybo:comment_delete_question' comment.id %}" class="small delete text-danger" data-uri="#">
            <i class="fa-solid fa-trash-can"></i>
            삭제</a>
        {% endif %}

      </div>
    {% endfor %}
  </div>
{% endif %}
<div>
  <a href="{% url 'pybo:comment_create_question' question.id %}" class="small">
    <small>댓글 추가..</small>
  </a>
</div>
