{% extends 'base.html' %}

{% block content %}


  <table class="table table-striped table-hover table-bordered">
    <thead>
      <tr class="thead-dark">
        <th style="width:5%">번호</th>
        <th style="width:5%">추천</th>
        <th>제목</th>
        <th style="width:15%">글쓴이</th>
        <th style="width:20%">작성일시</th>
      </tr>
    </thead>
    <tbody>
      {% if question_list %}
        {% for question in question_list %}
          <tr>
            <td>{{ question.id }}</td>
            <td>
              {% if question.voter.all.count > 0 %}
              <span class="badge badge-warning px-2 py-1">
                {{ question.voter.all.count}}
              </span>
              {% endif %}
            </td>
              <td>
                <a href="{% url 'pybo:detail' question.id %}">
                 {{question.subject}}
                 {% if question.answer_set.count %}
                    <span class="ml-2">
                      <i class="fa-regular fa-comment-dots"></i>
                      <sub>{{question.answer_set.count}}</sub>
                    </span>
                    {% endif %}
                  </a>
              </td>
              <td>{{ question.author.username }}</td>
            <td>{{ question.create_date|date:'Y-m-d H:i'}}</td>
          </tr>
        {% endfor %}
      {% else %}
        <tr>
          <td colspan="3">질문이 없습니다.</td>
        </tr>
      {% endif %}
    </tbody>
  </table>
  {% include 'pybo/pagenation.html' %}
    <a href="{% url 'pybo:question_create' %}" class="btn btn-primary">
      <i class="fa-solid fa-pen-to-square mr-2"></i>질문 등록하기</a>
  

{% endblock %}
{% comment %} {% if question_list %}
  <ul>
    {% for question in question_list %}
      <li>
        <a href="{% url 'pybo:detail' question.id %}">{{ question.subject}}</a>
      </li>
    {% endfor %}
  </ul>
{% else %}
  <p>질문이 없습니다.</p>
{% endif %} {% endcomment %}
